APP_NAME=gitpulse
HTTP_PORT=9001
METRICS_PORT=3454
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=gitpulse
DB_DIALECT=mysql

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

GITHUB_TOKEN=
GITHUB_REPO=https://github.com/your-org/your-repo
